
@{
    ViewBag.Title = "CutOffDBCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .flexContainer {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .itm {
        width: 550px;
    }

        .itm .bordered {
            border: 1px solid #d0d2c9;
            border-radius: 20px;
            min-height: 120px;
            padding: 15px;
            background: #f9f7f6;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

        .itm .hdr {
            font-weight: 500;
            margin-bottom: 10px !important;
            font-size: 17px;
            -webkit-font-smoothing: antialiased;
        }

    .mtop-2 {
        margin-top: 10px;
    }
</style>
<script type="text/javascript">
    $(function () {
        LoadDB();
    });
    function LoadDB()
    {
            $.ajax({                
                url: "@Url.Action("Filldatabase", "CutOffDBBackUp")",
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    debugger;
                    $("#ddlDataBase").html(data.retdata);
                    document.getElementById("btnLoadDB").style.display = "none";
                    document.getElementById("l1").style.display = "inline-block";
                    document.getElementById("btnstartdbCreation").style.display = "inline-block";
                },
                error: function (response) {
                    jAlert("Please try again later");
                }
            });
    }
    function StartDbCreation() {
        debugger;
        var StrData = {};
        var data = {
            "StrData": $("#ddlDataBase option:selected").val()
        };
        $.ajax({   
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("StartDbCreate", "CutOffDBBackUp")",
            success: function (response) {
                console.log(response);
                jAlert(response);
                document.getElementById("btnStep3").style.display = "inline-block";
                document.getElementById("btnstartdbCreation").style.display = "none";
            },
            error: function (response) {
                jAlert("Please try again later");
            }
        });
    }
    function RedirectToStepthree() {
       window.location.href = "/CutOffDBBackUp/ResoteDB";
       }
    @*function StartDbCreation() {
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("StartDbCreate", "CutOffDBBackUp")",
            async: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                jAlert(response);
            },
            error: function (response) {
                jAlert("Please try again later");
            }
         });
    }*@
    
</script>
    <div id="dvStep3" class="flexContainer">

        <div class="itm">
            <h3 class="hdr">Year Ending CuOff DB Creation</h3>
            <div class="bordered">
                <table width="70%">
                    <tr>
                        <td>
                            <button class="btn btn-primary" id="btnLoadDB" onclick="LoadDB();">Load</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label id="l1" style="display:none;">Select DataBase To Create DB :</label>
                        </td>
                        <td>
                            <label id="ddlDataBase"></label>
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td>
                            <label>Backup Done :</label>
                        </td>
                        <td>
                            <label id="lblDone">Done</label>
                            <label id="lblEsc"> || </label>
                            <label id="lblNotDone">Not Done</label>
                        </td>
                    </tr>
                </table>
                <hr />
                <div class="text-right mtop-2">
                    <button style="display:none;" class="btn btn-primary" id="btnstartdbCreation" onclick="StartDbCreation();">Create New DB</button>
                    <button style="display:none;" id="btnStep3" class="btn btn-primary" onclick="RedirectToStepthree();">Next</button>
                    <button style="display:none;" class="btn btn-primary" id="btnStep4">Exit</button>
                    <button class="btn btn-danger hide">Cancel</button>
                </div>
            </div>

        </div>

        <input type="hidden" id="hdnAuditDB" value="@ViewData["AuditDBName"]" />
        <input type="hidden" id="hdnDB" value="@ViewData["Dbname"]" />


    </div>

