@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Cutoff Journal ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assests/js/wizard/smart_wizard.css" rel="stylesheet" />
<link href="~/assests/js/wizard/smart_wizard_theme_arrows.css" rel="stylesheet" />
<script src="~/assests/js/wizard/jquery.smartWizard.js"></script>
<link href="~/assests/css/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/assests/js/jquery-confirm.min.js"></script>

<style>
    #smartwizard .sw-btn-prev, #smartwizard .sw-btn-next {
        display: none;
    }

    .fadeinDD {
        opacity: 0;
    }

    .flexContainer {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .itm {
        width: 100%;
    }

        .itm .bordered {
            border: 1px solid #d0d2c9;
            border-radius: 20px;
            min-height: 120px;
            padding: 15px;
            background: #f9f7f6;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

        .itm .hdr {
            font-weight: 500;
            margin-bottom: 10px !important;
            font-size: 17px;
            -webkit-font-smoothing: antialiased;
        }

    .mtop-2 {
        margin-top: 10px;
    }

    #smartwizard .btn-toolbar .btn-group {
        float: right !important;
    }

    #smartwizard .nav > li > a:hover, .nav > li > a:focus {
        background-color: #f5f5f5 !important;
    }

    .sw-theme-arrows > ul.step-anchor > li.done > a {
        border-color: #8390bb !important;
        color: #fff !important;
        background: #8390bb !important;
    }

        .sw-theme-arrows > ul.step-anchor > li.done > a:after {
            border-left: 30px solid #8390bb;
        }

    .sw-theme-arrows > ul.step-anchor > li.active > a {
        border-color: #43589a !important;
        color: #fff !important;
        background: #44599b !important;
    }

        .sw-theme-arrows > ul.step-anchor > li.active > a:after {
            border-left: 30px solid #44599b !important;
        }

    #smartwizard .nav > li.active > a:hover, .nav > li > a:focus {
        background-color: #44599b !important;
    }

    .sw-theme-arrows > ul.step-anchor > li.disabled > a:focus {
        background-color: #f5f5f5 !important;
    }

    .sw-theme-arrows > ul.step-anchor > li.disabled.done > a:focus {
        background-color: #8390bb !important;
    }

    #smartwizard .nav > li.done > a:hover, .nav > li.done > a:focus {
        background-color: #8390bb !important;
    }

    .sw-theme-arrows > ul.step-anchor > li.disabled > a, .sw-theme-arrows > ul.step-anchor > li.disabled > a:hover {
        color: #c1c0c0;
    }

        .sw-theme-arrows > ul.step-anchor > li.disabled > a, .sw-theme-arrows > ul.step-anchor > li.disabled > a:hover {
            color: #968d8d !important;
        }



    .sw-theme-arrows > ul.step-anchor > li.disabled.done > a, .sw-theme-arrows > ul.step-anchor > li.disabled.done > a:hover {
        color: #fff !important;
    }

    .titleContainer > span,
    .titleContainer > a {
        line-height: 145%;
    }

    #smartwizard .sw-btn-prev, #smartwizard .sw-btn-next {
        display: none;
    }

    .fadeinDD {
        opacity: 0;
    }

    .bigger {
        font-size: 15px;
    }

    .mtop15 {
        margin-top: 15px;
    }
</style>





@*@section AdditionalResources{*@

@*}*@

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@



<script type="text/javascript">
    $(document).ready(function () {

        // Step show event
        $(".sw-btn-prev, .sw-btn-next").addClass('Hide');
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            //alert("You are on step "+stepNumber+" now");
            //   $("#prev-btn").addClass('Hide');
            if (stepPosition === 'first') {
                $("#prev-btn").addClass('hide');
            } else if (stepPosition === 'final') {
                $("#next-btn").addClass('disabled');
            } else {
                $("#prev-btn").removeClass('hide');
                $("#next-btn").removeClass('disabled');
            }
        });




        // Smart Wizard
        $('#smartwizard').smartWizard({
            selected: 3,
            theme: 'arrows',
            transitionEffect: 'fade',
            showStepURLhash: true,
            disabledSteps: [0, 1, 2, 4, 5, 6,7],
            toolbarSettings: {
                //toolbarPosition: 'both',
                toolbarButtonPosition: 'end',
                //toolbarExtraButtons: [btnFinish, btnCancel]
            }
        });




        //$("#next-btn").on("click", function () {
        //    // Navigate next
        //    $('#smartwizard').smartWizard("next");
        //    return true;
        //});


    });
</script>

<script type="text/javascript">
    var selectedIDs;
    function OnBeginCallback(s, e) {
        //Pass all selected keys to GridView callback action
        e.customArgs["selectedIDs"] = selectedIDs;
    }
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("JournalVoucher_ID", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {
        //Capture all selected keys
        selectedIDs = values.join(',');
    }
    function OnClick(s, e) {
        //Show all selected keys on client side
        alert(selectedIDs);
    }
    function OnSubmitClick(s, e) {
        //Write all selected keys to hidden input. Pass them on post action.
        $("#selectedIDsHF").val(selectedIDs);
    }
</script>



<script type="text/javascript">
    var ss = [];
    function SelectionChanged(s, e) {
        s.GetSelectedFieldValues("JournalVoucher_ID", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {

        try {
            ss = [];
            for (var i = 0; i < values.length; i++) {
                ss.push(values[i]);
            }
        } finally {
            console.log(ss);
        }
        $("#count").html(grid.GetSelectedRowCount());

    }
</script>






<script>
    function onSelectAllClick() {
        grid.SelectRows();
    }
    function onClearSelectionClick() {
        grid.UnselectRows();
    }

    function OnGridViewInit() {
        UpdateTitlePanel();
    }
    function OnGridViewSelectionChanged() {
        UpdateTitlePanel();
    }
    function OnGridViewBeginCallback(s, e) {
        e.customArgs["selectAllMode"] = selectAllMode.GetText();
    }
    function OnGridViewEndCallback() {
        UpdateTitlePanel();
    }

    //function ImportCBGridView() {

    //    var CashBankIds = {}
    //    CashBankIds = ss;
    //     $.ajax({
    //        type: "POST",
    //        url: "/Accounts/PerformCashBankCutOff",
    //       // processData: false,
    //        data: {CashBankIds: ss},
    //        //async: false,
    //        contentType: "application/json;",
    //        dataType: "json",
    //        success: function (msg) {
    //            var CutOffDetails = msg;
    //            Console.log(CutOffDetails);
    //        }
    //    });
    //}
    function ImportCBGridView() {
        LoadingPanel.Show();
        var JournalIds = {}
        JournalIds = ss;

        $.ajax({
            dataType: "json",
            type: "POST",
            data: { JournalIds: ss },
            url: "/Accounts/PerformJournalCutOff/"
        }).done(function (x) {

            grid.Refresh();
            LoadingPanel.Hide();

            //jAlert('Journal Cutoff done. Press OK to proceed.','Title', function () {
            // setTimeout(function(){
            //    window.location.href = "/CustomerCutoff/CutOffCustomerSales";
            //}, 1000);
            //});
            $.alert({
                title: 'Alert!',
                content: 'Journal Cutoff done. Press OK to proceed.',
                buttons: {
                    okay: {
                        text: 'Ok',
                        btnClass: 'btn-blue',
                        action: function () {
                            window.location.href = "/CustomerCutoff/CutOffCustomerSales";
                        }
                    }
                }
            });

        });
    }








    function UpdateTitlePanel() {
        var selectedFilteredRowCount = GetSelectedFilteredRowCount();

        var text = "Total rows selected: <b>" + grid.GetSelectedRowCount() + "</b>. ";
        var hiddenSelectedRowCount = grid.GetSelectedRowCount() - GetSelectedFilteredRowCount();
        if (hiddenSelectedRowCount > 0)
            text += "Selected rows hidden by the applied filter: <b>" + hiddenSelectedRowCount + "</b>.";
        text += "<br />";

        lblInfo.SetText(text);


       //var isAllPages = selectAllMode.GetText() == "AllPages";
       // SetElementVisibility(lnkSelectAllRows, !isAllPages && grid.cpVisibleRowCount > selectedFilteredRowCount);
       // SetElementVisibility(lnkClearSelection, !isAllPages && grid.GetSelectedRowCount() > 0);
    }
    function GetSelectedFilteredRowCount() {

        return grid.cpFilteredRowCountWithoutPage + grid.GetSelectedKeysOnPage().length;
    }
    function SetElementVisibility(id, visible) {
        visible ? id.SetVisible(true) : id.SetVisible(false)
    }
</script>




<script>

    $(document).ready(function () {
        //if (ViewData["BackupDone"] == "Yes") {
        //    $("lblNotDone").addClass("btn-danger")
        //   // $("lblDone").addClass("btn-primary");
        //}
        //else {
        //   // $("lblNotDone").addClass("btn-primary")
        //    $("lblDone").addClass("btn-danger");
        //}
        
    });
    setTimeout(function () {
        $('#loadIssue').removeClass('fadeinDD');
    }, 2000);
    function StartDbCreation() {
        window.location.href = "/YearEnding/StartDbCreate?cutoffDate=" + " @ViewBag.CutoffDate &AuditDbname=@ViewData["AuditDBName"] &Dbname=@ViewData["Dbname"] ";
    }
</script>



<div class="form_main fadeinDD" id="loadIssue">
    <!-- SmartWizard html -->
    
        <div id="smartwizard" class="mtop15">
            <ul>
                <li><a href=""><br /><div class="bigger">Database Creation & Restoration</div></a></li>
                <li><a href=""><br /><div class="bigger">Account</div></a></li>
                <li><a href=""><br /><div class="bigger">CashBank</div></a></li>
                <li><a href="#step-4"><br /><div class="bigger">Journal</div></a></li>
                <li><a href=""><br /><div class="bigger">Sales</div></a></li>
                <li><a href=""><br /><div class="bigger">Purchase</div></a></li>
                <li><a href=""><br /><div class="bigger">Stock</div></a></li>
                <li><a href=""><br /><div class="bigger">Final</div></a></li>
            </ul>
            <div>
                <div id="step-1" class="">


                </div>
                <div id="step-2" class="">

                </div>

                <div id="step-3" class="">

                </div>
                <div id="step-4" class="">

                    <h3 class="border-bottom border-gray pb-2"></h3>

                    <div class="flexContainer" id="dvJournal">

                        <div class="itm">
                            <h3 class="hdr">Journal</h3>
                            <div class="bordered">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <label>CutOff Date :&nbsp;&nbsp;&nbsp;@ViewBag.CutoffDate</label>
                                        </td>
                                        <td>
                                            <label></label>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">

                                            <label style="color:red">
                                                Selected documents will not be carry forwarded. Please Deselect the documents if you wish to carry forward into next fiscal year.
                                            </label>

                                            <div class="options">
                                                <div class="options">
                                                    <div class="options-item hide">
                                                        @Html.DevExpress().ComboBox(settings =>
       {
           settings.Name = "selectAllMode";
           settings.Properties.Caption = "SelectAll button mode:";
           settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) { grid.PerformCallback(); }";
           settings.Properties.ValueType = typeof(GridViewSelectAllCheckBoxMode);
       }).BindList(Enum.GetValues(typeof(GridViewSelectAllCheckBoxMode))).Bind(ViewBag.SelectAllCheckBoxMode).GetHtml()
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="titleContainer BottomLargeMargin">
                                                @Html.DevExpress().Label(settingslbl =>
{
    settingslbl.Name = "lblInfo";
    settingslbl.Properties.EnableClientSideAPI = true;

}).GetHtml()
                                                @Html.DevExpress().HyperLink(settings =>
{
    settings.Name = "lnkSelectAllRows";
    settings.Properties.Text = "Select all rows.";
    settings.ControlStyle.Cursor = "Pointer";
    settings.Properties.EnableClientSideAPI = true;
    settings.ClientVisible = false;
    settings.Properties.ClientSideEvents.Click = "onSelectAllClick";
}).GetHtml()
                                                @Html.DevExpress().HyperLink(settings =>
{
    settings.Name = "lnkClearSelection";
    settings.Properties.Text = "Clear selection.";
    settings.ControlStyle.Cursor = "Pointer";
    settings.Properties.EnableClientSideAPI = true;
    settings.ClientVisible = false;
    settings.Properties.ClientSideEvents.Click = "onClearSelectionClick";
}).GetHtml()
                                            </div>



                                            @Html.Partial("~/Views/CutOff/Accounts/PartialJournalView.cshtml", Model)





                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <div class="text-right mtop-2">
                                    <button class="btn btn-info" onclick="ImportCBGridView();">Start</button>
                                    @*<button class="btn btn-primary">Next</button>*@
                                    @*<button class="btn btn-danger">Cancel</button>*@
                                </div>
                            </div>

                        </div>

                        <input type="hidden" id="hdnAuditDB" value="@ViewData["AuditDBName"]" />
                        <input type="hidden" id="hdnDB" value="@ViewData["Dbname"]" />
                        <input type="hidden" id="selectedIDsHF">
                    </div>

                </div>
                <div id="step-5" class="">


                </div>
                <div id="step-6" class="">


                </div>
                <div id="step-7" class="">


                </div>
                <div id="step-8" class="">


                </div>
            </div>
        </div>



</div>

@Html.DevExpress().LoadingPanel(
    settings =>
    {
        settings.Name = "LoadingPanel";
        settings.Modal = true;
        settings.ContainerElementID = "dvJournal";
    }
).GetHtml()


