@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc
@using DevExpress.Web
@model Manufacturing.Models.ViewModel.ReturnFGReceivedViewModel

@{
    ViewBag.Title = "FG Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assests/css/SearchPopup.css" rel="stylesheet" />
<script src="~/Scripts/SearchPopup.js"></script>

<script>
    var load = 0;
    function OpenData(productionreceiptid) {
        if (parseInt(productionreceiptid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetPRDataByID", "ReturnFGReceived")",
                data: { productionreceiptid: productionreceiptid, IsView: 0 },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function ViewData(productionreceiptid) {
        if (parseInt(productionreceiptid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetPRDataByID", "ReturnFGReceived")",
                data: { productionreceiptid: productionreceiptid, IsView: 1 },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function RemoveData(productionreceiptid) {
        jConfirm('Confirm delete?', 'Alert!', function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemovePRDataByID", "ReturnFGReceived")",
                    data: { productionreceiptid: productionreceiptid },
                    success: function (response) {
                        if (response != null) {
                            jAlert(response.Message);
                            if (response.Success) {
                                gridPRList.Refresh();
                                gridPRList.Refresh();
                            }
                        }
                    }
                });
            }
        });

    }
    function onPrintJv(id, RowIndex) {
        // jAlert('No design available!');
       var productionreceiptid = id;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetPRDesignerList", "ReturnFGReceived")",
            data: { ID: productionreceiptid },
            success: function (response) {
                if (response) {

                    if (response.length > 0) {
                        var html = "";
                        for (var i = 0; i < response.length; i++) {
                            html = html + "<option value='" + response[i].reportValue + "'>" + response[i].name + "</option>";
                        }
                        $('#scldesign').html(html);

                        $('#PrintModal').modal('show');
                        $('#btnDegOK').focus();
                    }
                    else {
                        jAlert('No design available!');
                    }
                }
                else {
                    jAlert('No design available!');
                }
            }
        });

    }

    function OnclickViewAttachment(id,name) {
        $('#hdnDocNo').val(id);
        $('#AttachmentModal').modal('show');
        setTimeout(function () {
            $("#docNumber").val(name);
            $("#docFileName").val(name);
            $('#documentType').focus();
        }, 1000);
    }

    $(function () {
        $('#btnAddNew').focus();
    });

    $(document).ready(function () {

        if (localStorage.getItem('FromDatePR')) {
            FromDate_dt.SetDate(new Date(localStorage.getItem('FromDatePR')));
        }
        if (localStorage.getItem('ToDatePR')) {
            ToDate_dt.SetDate(new Date(localStorage.getItem('ToDatePR')));
        }

        setTimeout(function () {
            PopulateUnitList();
        }, 10);


        $("body").bind("keydown", function (event) {
            if (event.keyCode == 65 && event.altKey == true) {
                var url = '@Url.Action("ProductionReceiptEntry", "ReturnFGReceived")';
                window.location.href = url;
            }
        });
    });

    function datevalidateTo() {

        if (FromDate_dt.GetDate()) {
            if (ToDate_dt.GetDate() <= FromDate_dt.GetDate()) {
                ToDate_dt.SetValue(FromDate_dt.GetDate());
                ToDate_dt.SetMinDate(FromDate_dt.GetDate());
            }
        }
    }

    function PopulateUnitList() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("PopulateBranchByHierchy", "BOMEntry")",
            success: function (response) {
                var html = "";
                for (var i = 0; i < response.length; i++) {
                    html = html + "<option value='" + response[i].ID + "'>" + response[i].Name + "</option>";
                }
                $('#ddlunitlist').html(html);

                if (localStorage.getItem('PRBranch')) {
                    if ($("#ddlunitlist option[value=" + localStorage.getItem('PRBranch') + "]").text() != "" && $("#ddlunitlist option[value=" + localStorage.getItem('PRBranch') + "]").text() != null) {
                        $('#ddlunitlist').val(localStorage.getItem('PRBranch'));
                    }
                }
            }
        });
    }


    function updateGridByDate() {
        if (FromDate_dt.GetDate() == null) {
            jAlert('Please select from date.', 'Alert', function () { FromDate_dt.Focus(); });
        }
        else if (ToDate_dt.GetDate() == null) {
            jAlert('Please select to date.', 'Alert', function () { ToDate_dt.Focus(); });
        }
        else {
            var fromdate = GetServerDateFormat(FromDate_dt.GetValue());
            var todate = GetServerDateFormat(ToDate_dt.GetValue());
            var unitid = $('#ddlunitlist option:selected').val();

            localStorage.setItem("FromDatePR", FromDate_dt.GetDate());
            localStorage.setItem("ToDatePR", ToDate_dt.GetDate());
            localStorage.setItem("PRBranch", unitid);

            $.ajax({
                type: "POST",
                url: "@Url.Action("SetBOMDateFilter", "ReturnFGReceived")",
                data: { unitid: unitid, FromDate: fromdate, ToDate: todate },
                success: function (response) {
                    if (response) {
                        gridPRList.Refresh();
                        gridPRList.Refresh();
                    }
                }
            });
        }
    }

    function GetServerDateFormat(today) {
        if (today != "" && today != null) {
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
        }
        else {
            today = "";
        }

        return today;
    }

    function cmbExport_SelectedIndexChanged() {
        var exportid = $('#exportlist option:selected').val();
        $('#exportlist').val(0);
        if (exportid > 0) {
            if (gridPRList.GetVisibleRowsOnPage() > 0) {
                var url = '@Url.Action("ExportGridList", "ReturnFGReceived", new { type = "_type_" })'
                window.location.href = url.replace("_type_", exportid);
            }
            else {
                jAlert("No data found in list!");
            }
        }
    }
    function gridRowclick(s, e) {
        $('#gridPRList').find('tr').removeClass('rowActive');
        $('.floatedBtnArea').removeClass('insideGrid');
        //$('.floatedBtnArea a .ico').css({ 'opacity': '0' });
        $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea').addClass('insideGrid');
        $(s.GetRow(e.visibleIndex)).addClass('rowActive');
        setTimeout(function () {
            //alert('delay');
            var lists = $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a');
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a .ico').css({'opacity': '1'});
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a').each(function (e) {
            //    setTimeout(function () {
            //        $(this).fadeIn();
            //    }, 100);
            //});
            $.each(lists, function (index, value) {
                //console.log(index);
                //console.log(value);
                setTimeout(function () {
                    $(value).css({ 'opacity': '1' });
                }, 100);
            });
        }, 200);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('body').hasClass('mini-navbar')) {
            var windowWidth = $(window).width();
            var cntWidth = windowWidth - 90;
            gridPRList.SetWidth(cntWidth);
        } else {
            var windowWidth = $(window).width();
            var cntWidth = windowWidth - 220;
            gridPRList.SetWidth(cntWidth);
        }

        $('.navbar-minimalize').click(function () {
            if ($('body').hasClass('mini-navbar')) {
                var windowWidth = $(window).width();
                var cntWidth = windowWidth - 220;
                gridPRList.SetWidth(cntWidth);
            } else {
                var windowWidth = $(window).width();
                var cntWidth = windowWidth - 90;
                gridPRList.SetWidth(cntWidth);
            }

        });
    });
</script>

<div class="panel-heading">
    <div class="panel-title clearfix" id="myDiv">
        <h3 class="pull-left">
            <label>FG Return</label>
        </h3>
        @*<div id="ApprovalCross" class="crossBtn"><a href=""><i class="fa fa-times"></i></a></div>*@

    </div>
</div>
<div class="mainarea form_main">

    <input type="hidden" value="@Url.Action("ProductionReceiptEntry", "ReturnFGReceived")" id="hdnAddUpdate" />

    <div>
        @{
            Html.RenderAction("AttachmentDocument", "Attachment", new { module = "ReturnFGReceived", DocNo = "" });
        }
    </div>


    <div class="clearfix">
        <div class="md-pull-left">
            @if (ViewBag.CanAdd)
            {
                @*<button type="button" class="btn btn-success" id="btnAddNew" onclick="location.href='@Url.Action("WorkOrderEntry", "WorkOrder")'"><u>A</u>dd New</button>*@

                <button type="button" class="btn btn-success btn-radius" id="btnAddNew" onclick="location.href = '@Url.Action("ProductionReceiptEntry", "ReturnFGReceived")'">
                    <span class="btn-icon"><i class="fa fa-plus"></i></span>
                    <u>A</u>dd New
                </button>
            }
            <select id="exportlist" class="btn btn-primary btn-radius" onchange="cmbExport_SelectedIndexChanged()">
                <option value="0">Export to</option>
                <option value="1">PDF</option>
                <option value="2">XLSX</option>
                <option value="3">RTF</option>
                <option value="4">CSV</option>
            </select>
        </div>
        <div class="md-pull-right">
            <table class="paddingTbl">
                <tr>
                    <td>From Date</td>
                    <td>
                        <div class="relative">
                            @Html.DevExpress().DateEdit(
                            settings =>
                            {
                                settings.Name = "FromDate_dt";
                                settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                settings.Properties.EditFormatString = "dd-MM-yyyy";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ClientSideEvents.DateChanged = "datevalidateTo";
                                settings.Date = DateTime.Now;
                                settings.Properties.UseMaskBehavior = true;

                            }
                        ).GetHtml()
                        </div>
                    </td>
                    <td>To Date</td>
                    <td>
                        <div class="relative">
                            @Html.DevExpress().DateEdit(
                            settings =>
                            {
                                settings.Name = "ToDate_dt";
                                settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                settings.Properties.EditFormatString = "dd-MM-yyyy";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ClientSideEvents.DateChanged = "datevalidateTo";
                                settings.Date = DateTime.Now;
                                settings.Properties.UseMaskBehavior = true;

                            }
                        ).GetHtml()
                        </div>
                    </td>
                    <td>Unit</td>
                    <td width="180PX">
                        <div class="relative">
                            <select id="ddlunitlist" class="form-control"></select>
                        </div>
                    </td>
                    <td><button type="button" id="btnShowData" class="btn btn-primary btn-radius" style="margin-top: 15px;" onclick="updateGridByDate()">Show</button></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mTop5">
            <div class="gridHeadersec">

                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <div id="refreshgrid" class="relative">
                @{
                    Html.RenderAction("GetProductionReceiptList", "ReturnFGReceived");
                }
            </div>

        </div>
    </div>

</div>

