@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc
@using DevExpress.Web
@model Manufacturing.Models.ViewModel.ProductionOrderViewModel

@{
    ViewBag.Title = "Production Order (Demand Order)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assests/css/SearchPopup.css" rel="stylesheet" />
<script src="~/Scripts/SearchPopup.js"></script>

<style>
    .throughRed > td {
        text-decoration: line-through;
        color: red;
    }

    .textareaBig {
        min-height: 120px !important;
    }
</style>

<script>
    var load = 0;
    function OpenPOData(productionorderid) {
        if (parseInt(productionorderid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetPODataByID", "ProductionOrder")",
                data: { productionorderid: productionorderid, IsView: 0 },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnPOAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function ViewPOData(productionorderid) {
        if (parseInt(productionorderid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetPODataByID", "ProductionOrder")",
                data: { productionorderid: productionorderid, IsView: 1 },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnPOAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function RemovePOData(productionorderid) {
        jConfirm('Confirm delete?', 'Alert!', function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemovePODataByID", "ProductionOrder")",
                    data: { productionorderid: productionorderid },
                    success: function (response) {
                        if (response != null) {
                            jAlert(response.Message);
                            if (response.Success) {
                                gridPOList.Refresh();
                                gridPOList.Refresh();
                            }
                        }
                    }
                });
            }
        });

    }

    function ClosedPOData(productionorderid) {
        if (parseInt(productionorderid) > 0) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ClosedORNot", "ProductionOrder")",
                data: { productionorderid: productionorderid, ClosedPORemarks: '' },
                success: function (response) {
                if (response != null) {
                    if (response.Success) {
                        jConfirm('Do you want to close the Production Order ?', 'Alert!', function (r) {
                            if (r) {
                                $('#hdndetailsid').val(parseInt(productionorderid));
                                $('#ClosedModal').modal('show');
                            }
                        });
                    }
                    else {
                        //$('#ClosedModal').modal('hide');
                        jAlert(response.Message);
                       
                    }
                }
            }
        });


            
        }
    }


    function ClosedBOM() {
        var txtClosedPORemarks = $('#txtClosedBOMRemarks').val();
        var productionorderid = $('#hdndetailsid').val();
        if (txtClosedBOMRemarks != "" && parseInt(productionorderid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClosedPODataByID", "ProductionOrder")",
                data: { productionorderid: productionorderid, ClosedPORemarks: txtClosedPORemarks },
                success: function (response) {
                    if (response != null) {
                        if (response.Success) {
                            $('#ClosedModal').modal('hide');
                            // jAlert("Production Order closed successfully");
                            jAlert(response.Message);
                            gridPOList.Refresh();
                            gridPOList.Refresh();
                        }
                        else {
                            $('#ClosedModal').modal('hide');
                            jAlert(response.Message);
                           // return false;
                        }
                    }
                }
            });
        }
        else {
            jAlert("Please enter Remarks to close BOM!");
            return false;
        }
    }

    function OnEndCallback(s, e) {
        makeThrough();
    }

    function makeThrough() {
        $('.ClosedRowBOM').closest('tr').addClass('throughRed');
    }
    $(document).ready(function () {
        $('.ClosedRowBOM').closest('tr').addClass('throughRed');
    });

    function onPrintJv(id, RowIndex) {
        jAlert('No design available!');
    }

    function OnclickViewAttachment(id) {
        //jAlert('No data available!');
        $('#hdnDocNo').val(id);
        $('#AttachmentModal').modal('show');
        setTimeout(function () { $('#documentType').focus(); }, 1000);
    }

    $(function () {
        if (localStorage.getItem('FromDatePO')) {
            FromDate_dt.SetDate(new Date(localStorage.getItem('FromDatePO')));
        }
        if (localStorage.getItem('ToDatePO')) {
            ToDate_dt.SetDate(new Date(localStorage.getItem('ToDatePO')));
        }

        $('#btnAddNew').focus();
    });

    $(document).ready(function () {
        PopulateUnitList();

        $("body").bind("keydown", function (event) {
            if (event.keyCode == 65 && event.altKey == true) {
                var url = '@Url.Action("ProductionOrderEntry", "ProductionOrder")';
                window.location.href = url;
            }
        });
    });

    function datevalidateTo() {

        if (FromDate_dt.GetDate()) {
            if (ToDate_dt.GetDate() <= FromDate_dt.GetDate()) {
                ToDate_dt.SetValue(FromDate_dt.GetDate());
                ToDate_dt.SetMinDate(FromDate_dt.GetDate());
            }
        }
    }

    function PopulateUnitList() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("PopulateBranchByHierchy", "ProductionOrder")",
            success: function (response) {
                var html = "";
                for (var i = 0; i < response.length; i++) {
                    html = html + "<option value='" + response[i].ID + "'>" + response[i].Name + "</option>";
                }
                $('#ddlunitlist').html(html);

                if (localStorage.getItem('POBranch')) {
                    if ($("#ddlunitlist option[value=" + localStorage.getItem('POBranch') + "]").text() != "" && $("#ddlunitlist option[value=" + localStorage.getItem('POBranch') + "]").text() != null) {
                        $('#ddlunitlist').val(localStorage.getItem('POBranch'));
                    }
                }
            }
        });
    }


    function updateGridByDate() {
        if (FromDate_dt.GetDate() == null) {
            jAlert('Please select from date.', 'Alert', function () { FromDate_dt.Focus(); });
        }
        else if (ToDate_dt.GetDate() == null) {
            jAlert('Please select to date.', 'Alert', function () { ToDate_dt.Focus(); });
        }
        else {
            var fromdate = GetServerDateFormat(FromDate_dt.GetValue());
            var todate = GetServerDateFormat(ToDate_dt.GetValue());
            var unitid = $('#ddlunitlist option:selected').val();

            localStorage.setItem("FromDatePO", FromDate_dt.GetDate());
            localStorage.setItem("ToDatePO", ToDate_dt.GetDate());
            localStorage.setItem("POBranch", unitid);

            $.ajax({
                type: "POST",
                url: "@Url.Action("SetBOMDateFilter", "ProductionOrder")",
                data: { unitid: unitid, FromDate: fromdate, ToDate: todate },
                success: function (response) {
                    if (response) {
                        gridPOList.Refresh();
                        gridPOList.Refresh();
                    }
                }
            });
        }
    }

    function GetServerDateFormat(today) {
        if (today != "" && today != null) {
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
        }
        else {
            today = "";
        }

        return today;
    }

    function cmbExport_SelectedIndexChanged() {
        var exportid = $('#exportlist option:selected').val();
        $('#exportlist').val(0);
        if (exportid > 0) {
            var url = '@Url.Action("ExportGridList", "ProductionOrder", new { type = "_type_" })'
            window.location.href = url.replace("_type_", exportid);
        }
    }
    function gridRowclick(s, e) {
        $('#gridPOList').find('tr').removeClass('rowActive');
        $('.floatedBtnArea').removeClass('insideGrid');
        //$('.floatedBtnArea a .ico').css({ 'opacity': '0' });
        $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea').addClass('insideGrid');
        $(s.GetRow(e.visibleIndex)).addClass('rowActive');
        setTimeout(function () {
            //alert('delay');
            var lists = $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a');
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a .ico').css({'opacity': '1'});
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a').each(function (e) {
            //    setTimeout(function () {
            //        $(this).fadeIn();
            //    }, 100);
            //});
            $.each(lists, function (index, value) {
                //console.log(index);
                //console.log(value);
                setTimeout(function () {
                    $(value).css({ 'opacity': '1' });
                }, 100);
            });
        }, 200);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('body').hasClass('mini-navbar')) {
            var windowWidth = $(window).width();
            var cntWidth = windowWidth - 90;
            gridPOList.SetWidth(cntWidth);
        } else {
            var windowWidth = $(window).width();
            var cntWidth = windowWidth - 220;
            gridPOList.SetWidth(cntWidth);
        }

        $('.navbar-minimalize').click(function () {
            if ($('body').hasClass('mini-navbar')) {
                var windowWidth = $(window).width();
                var cntWidth = windowWidth - 220;
                gridPOList.SetWidth(cntWidth);
            } else {
                var windowWidth = $(window).width();
                var cntWidth = windowWidth - 90;
                gridPOList.SetWidth(cntWidth);
            }

        });
    });
</script>

<div class="panel-heading">
    <div class="panel-title clearfix" id="myDiv">
        <h3 class="pull-left">
            <label>Production Order (Demand Order)</label>
        </h3>
        @*<div id="ApprovalCross" class="crossBtn"><a href=""><i class="fa fa-times"></i></a></div>*@

    </div>
</div>
<div class="mainarea form_main">

    <input type="hidden" value="@Url.Action("ProductionOrderEntry", "ProductionOrder")" id="hdnPOAddUpdate" />

    <div>
        @{
            Html.RenderAction("AttachmentDocument", "Attachment", new { module = "ProductionOrder", DocNo = "" });
        }
    </div>


    <div class="clearfix">
        <div class="md-pull-left">
            @if (ViewBag.CanAdd)
            {
            <button type="button" class="btn btn-success btn-radius" id="btnAddNew" onclick="location.href='@Url.Action("ProductionOrderEntry", "ProductionOrder")'"><span class="btn-icon"><i class="fa fa-plus"></i></span><u>A</u>dd New</button>
            }
            <select id="exportlist" class="btn btn-primary btn-radius" onchange="cmbExport_SelectedIndexChanged()">
                <option value="0">Export to</option>
                <option value="1">PDF</option>
                <option value="2">XLSX</option>
                <option value="3">RTF</option>
                <option value="4">CSV</option>
            </select>
        </div>
        <div class="md-pull-right">
            <table class="paddingTbl">
                <tr>
                    <td>From Date</td>
                    <td>
                        <div class="relative">
                            @Html.DevExpress().DateEdit(
                            settings =>
                            {
                                settings.Name = "FromDate_dt";
                                settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                settings.Properties.EditFormatString = "dd-MM-yyyy";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ClientSideEvents.DateChanged = "datevalidateTo";
                                settings.Date = DateTime.Now;
                                settings.Properties.UseMaskBehavior = true;

                            }
                        ).GetHtml()
                        </div>
                    </td>
                    <td>To Date</td>
                    <td>
                        <div class="relative">
                            @Html.DevExpress().DateEdit(
                            settings =>
                            {
                                settings.Name = "ToDate_dt";
                                settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                settings.Properties.EditFormatString = "dd-MM-yyyy";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ClientSideEvents.DateChanged = "datevalidateTo";
                                settings.Date = DateTime.Now;
                                settings.Properties.UseMaskBehavior = true;

                            }
                        ).GetHtml()
                        </div>
                    </td>
                    <td>Unit</td>
                    <td>
                        <div class="relative">
                            <select id="ddlunitlist" class="form-control"></select>
                        </div>
                    </td>
                    <td><button type="button" id="btnShowData" class="btn btn-primary" style="    margin-top: 15px;" onclick="updateGridByDate()">Show</button></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mTop5">
            <div class="gridHeadersec">

                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <div id="refreshgrid" class="relative">
                @{
                    Html.RenderAction("GetProductionOrderList", "ProductionOrder");
                }
            </div>

        </div>
    </div>



    <!-- Closed Modal -->
    <div class="modal fade pmsModal w30" id="ClosedModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Close BOM</h4>
                </div>
                <div class="modal-body">
                    <div class="detailsarea">

                        <input type="hidden" id="hdndetailsid" value="0" />

                        <div>
                            <label>Remarks <span style="color:red">*</span></label>

                            <textarea id="txtClosedBOMRemarks" class="textareaBig"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" id="btnDegOK" class="btn btn-success btn-radius" onclick="ClosedBOM()">Ok</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Closed Modal -->

</div>