@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc
@using DevExpress.Web
@model PMS.Models.ViewModel.ProposalViewModel

@{
    ViewBag.Title = "Project Proposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assests/css/SearchPopup.css" rel="stylesheet" />
<script src="~/Scripts/SearchPopup.js"></script>
<style>
    .padTab > tbody > tr > td:not(:last-child) {
        padding:0;
         padding-right:15px;
        vertical-align: middle;
    }
    .w150 {
        width:150px;
    }
    #gridBOMList_DXMainTable > tbody > tr > td:last-child, #gridBOMList_DXFooterTable > tbody > tr > td:last-child, #gridBOMList_DXHeaderTable > tbody > tr > td:last-child {
        display: none;
    }
</style>
<script>
    var load = 0;
    function OpenBOMData(detailsid) {
        if (parseInt(detailsid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetBOMDataByID", "Proposal")",
                data: { detailsid: detailsid },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnBOMAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function RemoveBOMData(detailsid) {

        jConfirm('Confirm delete?', 'Alert!', function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveBOMDataByID", "Proposal")",
                    data: { detailsid: detailsid },
                    success: function (response) {
                        if (response != null) {
                            jAlert(response.Message);
                            if (response.Success) {
                                gridBOMList.Refresh();
                                gridBOMList.Refresh();
                            }
                        }
                    }
                });
            }
        });
    }

    function OnBOMListEndCallback(s, e) {

    }

    function OnBOMListBeginCallback(s, e) {

    }

    $(function () {
        PopulateUnitList();
        if (localStorage.getItem('FromDateBOM')) {
            BomFromDate_dt.SetDate(new Date(localStorage.getItem('FromDateBOM')));
        }
        if (localStorage.getItem('ToDateBOM')) {
            BomToDate_dt.SetDate(new Date(localStorage.getItem('ToDateBOM')));
        }
        $('#btnAddNew').focus();
    });

    function datevalidateTo() {

        if (BomFromDate_dt.GetDate()) {
            if (BomToDate_dt.GetDate() <= BomFromDate_dt.GetDate()) {
                BomToDate_dt.SetValue(BomFromDate_dt.GetDate());
                BomToDate_dt.SetMinDate(BomFromDate_dt.GetDate());
            }
        }
    }

    function PopulateUnitList() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("PopulateBranchByHierchy", "Proposal")",
            success: function (response) {
                var html = "";
                for (var i = 0; i < response.length; i++) {
                    html = html + "<option value='" + response[i].ID + "'>" + response[i].Name + "</option>";
                }
                $('#ddlunitlist').html(html);

                if (localStorage.getItem('BOMBranch')) {
                    if ($("#ddlunitlist option[value=" + localStorage.getItem('BOMBranch') + "]").text() != "" && $("#ddlunitlist option[value=" + localStorage.getItem('BOMBranch') + "]").text() != null) {
                        $('#ddlunitlist').val(localStorage.getItem('BOMBranch'));
                    }
                }

            }
        });
    }

    function GetServerDateFormat(today) {
        if (today != "" && today != null) {
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
        }
        else {
            today = "";
        }

        return today;
    }

    function updateGridByDate() {
        if (BomFromDate_dt.GetDate() == null) {
            jAlert('Please select from date.', 'Alert', function () { BomFromDate_dt.Focus(); });
        }
        else if (BomToDate_dt.GetDate() == null) {
            jAlert('Please select to date.', 'Alert', function () { BomToDate_dt.Focus(); });
        }
        else {
            var fromdate = GetServerDateFormat(BomFromDate_dt.GetValue());
            var todate = GetServerDateFormat(BomToDate_dt.GetValue());
            var unitid = $('#ddlunitlist option:selected').val();

            localStorage.setItem("FromDateBOM", BomFromDate_dt.GetDate());
            localStorage.setItem("ToDateBOM", BomToDate_dt.GetDate());
            localStorage.setItem("BOMBranch", unitid);

            $.ajax({
                type: "POST",
                url: "@Url.Action("SetBOMDateFilter", "Proposal")",
                data: { unitid: unitid, FromDate: fromdate, ToDate: todate },
                success: function (response) {
                    if (response) {
                        gridBOMList.Refresh();
                        gridBOMList.Refresh();
                    }
                }
            });
        }
    }


    function onPrintJv(id, RowIndex) {
        jAlert('No design available!');
    }

    function OnclickViewAttachment(id) {
        $('#hdnDocNo').val(id);
        $('#AttachmentModal').modal('show');
        setTimeout(function () {  $('#documentType').focus();  }, 1000);
    }

    function cmbExport_SelectedIndexChanged() {
        var exportid = $('#exportlist option:selected').val();
        $('#exportlist').val(0);

        if (exportid > 0) {

            var url = '@Url.Action("ExportBOMGridList", "Proposal", new { type = "_type_" })'
            window.location.href = url.replace("_type_", exportid);


        }

    }

   // $(document).ready(function () {

        document.onkeydown = function (e) {
            if (event.keyCode == 65 && event.altKey == true) {
                var url = '@Url.Action("Index", "Proposal")';
                window.location.href = url;
            }
        }
    //});
    function gridRowclick(s, e) {
        $('#gridBOMList').find('tr').removeClass('rowActive');
        $('.floatedBtnArea').removeClass('insideGrid');
        //$('.floatedBtnArea a .ico').css({ 'opacity': '0' });
        $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea').addClass('insideGrid');
        $(s.GetRow(e.visibleIndex)).addClass('rowActive');
        setTimeout(function () {
            //alert('delay');
            var lists = $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a');
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a .ico').css({'opacity': '1'});
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a').each(function (e) {
            //    setTimeout(function () {
            //        $(this).fadeIn();
            //    }, 100);
            //});    
            $.each(lists, function (index, value) {
                //console.log(index);
                //console.log(value);
                setTimeout(function () {
                    $(value).css({ 'opacity': '1' });
                }, 100);
            });
        }, 200);
    }
</script>

<div class="panel-heading clearfix">
    <div class="panel-title clearfix pull-left" id="myDiv">
        <h3 class="">
            <label>Project Proposal</label>
        </h3>
        @*<div id="ApprovalCross" class="crossBtn"><a href=""><i class="fa fa-times"></i></a></div>*@
    </div>
    
</div>

<div class="mainarea form_main">

    <input type="hidden" value="@Url.Action("Index", "Proposal")" id="hdnBOMAddUpdate" />
    <input type="hidden" value="@Url.Action("AttachmentDocument", "Attachment", new { module = "Proposal" })" id="hdnAttachmentDocument" />

    <div>
        @{
            Html.RenderAction("AttachmentDocument", "Attachment", new { module = "Proposal", DocNo = "" });
        }
    </div>



    <div class="row">
        <div class="col-md-12 mTop5">
            <div class="gridHeadersec">

                

                <div class="clearfix">
                    <div class="md-pull-left">
                        @if (ViewBag.CanAdd) 
                        { 
                            <button type="button" id="btnAddNew" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Proposal")'">Add New</button>
                        }
                        <select id="exportlist" class="btn btn-primary" onchange="cmbExport_SelectedIndexChanged()">
                            <option value="0">Export to</option>
                            <option value="1">PDF</option>
                            <option value="2">XLSX</option>
                            <option value="3">RTF</option>
                            <option value="4">CSV</option>
                        </select>
                    </div>
                    <div class="md-pull-right">
                        <table class="paddingTbl">
                            <tr>
                                <td>
                                    From Date

                                </td>
                                <td class="w150">
                                    <div class="relative">
                                        @Html.DevExpress().DateEdit(
                            settings =>
                            {
                                settings.Name = "BomFromDate_dt";
                                settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                settings.Properties.EditFormatString = "dd-MM-yyyy";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ClientSideEvents.DateChanged = "datevalidateTo";
                                settings.Date = DateTime.Now;

                            }
                        ).GetHtml()
                                    </div>
                                </td>
                                <td>
                                    To Date

                                </td>
                                <td class="w150">
                                    <div class="relative">
                                        @Html.DevExpress().DateEdit(
                            settings =>
                            {
                                settings.Name = "BomToDate_dt";
                                settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                settings.Properties.EditFormatString = "dd-MM-yyyy";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ClientSideEvents.DateChanged = "datevalidateTo";
                                settings.Date = DateTime.Now;

                            }
                        ).GetHtml()
                                    </div>
                                </td>
                                <td>
                                    Unit

                                </td>
                                <td class="w150">
                                    <div class="relative">
                                        <select id="ddlunitlist" class="form-control"></select>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" id="btnShowData" class="btn btn-primary" onclick="updateGridByDate()">Show</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div>

            </div>

            <div id="refreshgrid" class="relative">
                @{
                    Html.RenderAction("GetBOMEntryList", "Proposal");
                }
            </div>

        </div>
    </div>

</div>

