@using System.Web.UI.WebControls
@model Manufacturing.Models.ViewModel.ManufacturingStagesViewModel

@{
    ViewBag.Title = "Stages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assests/css/SearchPopup.css" rel="stylesheet" />
<script src="~/Scripts/SearchPopup.js"></script>

<script>
    var load = 0;
    function OpenWCData(workcenterid) {
        if (parseInt(workcenterid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetWorkCenterByID", "ManufacturingStages")",
                data: { workcenterid: workcenterid },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnWCAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function ViewWCData(workcenterid) {
        if (parseInt(workcenterid) > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetWorkCenterByIDView", "ManufacturingStages")",
                data: { workcenterid: workcenterid },
                success: function (response) {
                    if (response != null && response == true) {
                        var url = $('#hdnWCAddUpdate').val();
                        window.location.href = url;
                    }
                    else {
                        jAlert('Please try again later.');
                        return false;
                    }
                }
            });
        }
    }

    function RemoveWCData(workcenterid) {

        jConfirm('Confirm delete?', 'Alert!', function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveWCDataByID", "ManufacturingStages")",
                    data: { workcenterid: workcenterid },
                    success: function (response) {
                        if (response != null) {
                            jAlert("Deleted Successfully.");
                            gridWCList.Refresh();
                            gridWCList.Refresh();
                        }
                    }
                });
            }
        });
    }

    function OnBOMListEndCallback(s, e) {

    }

    function OnBOMListBeginCallback(s, e) {

    }

    $(function () {
        //gridWCList.Refresh();
        //gridWCList.Refresh();

        $('#btnAddNew').focus();
    });


    function cmbExport_SelectedIndexChanged() {
        var exportid = $('#exportlist option:selected').val();
        $('#exportlist').val(0);

        if (exportid > 0) {

            var url = '@Url.Action("ExportWCGridList", "ManufacturingStages", new { type = "_type_" })'
            window.location.href = url.replace("_type_", exportid);


        }

    }

    $(document).ready(function () {

        document.onkeyup = function (e) {
            if (event.keyCode == 65 && event.altKey == true) {
                var url = '@Url.Action("StagesEntry", "ManufacturingStages")';
                window.location.href = url;
            }
        }
    });
</script>

<div class="panel-heading clearfix">
    <div class="panel-title clearfix pull-left" id="myDiv">
        <h3 class="">
            <label>Stages</label>
        </h3>
    </div>

</div>

<div class="mainarea form_main">

    <input type="hidden" value="@Url.Action("StagesEntry", "ManufacturingStages")" id="hdnWCAddUpdate" />

    <div class="row">
        <div class="col-md-12 mTop5">
            <div class="gridHeadersec">



                <div class="clearfix">
                    <div class="md-pull-left">
                    @if (ViewBag.CanAdd) { 
                        <button type="button" id="btnAddNew" class="btn btn-success  btn-radius" onclick="location.href='@Url.Action("StagesEntry", "ManufacturingStages")'"><u>A</u>dd New</button>
                    }
                        <select id="exportlist" class="btn btn-primary  btn-radius" onchange="cmbExport_SelectedIndexChanged()">
                            <option value="0">Export to</option>
                            <option value="1">PDF</option>
                            <option value="2">XLSX</option>
                            <option value="3">RTF</option>
                            <option value="4">CSV</option>
                        </select>
                    </div>

                </div>
            </div>
            <div>

            </div>

            <div id="refreshgrid">
                @{
                    Html.RenderAction("GetWorkCenterList", "ManufacturingStages");
                }
            </div>

        </div>
    </div>

</div>

